{
	"server": {
		"server.socket_host" : "0.0.0.0",
        "server.socket_port" : 8444,

        "server.ssl_module" : "pyopenssl",
        "server.ssl_certificate" : "testcerts/server.crt",
        "server.ssl_private_key" : "testcerts/server.key"
	},
	"isRegServer": false,
	"isLookupServer": true,
	"datadir": "datadir2",
	"regServer": "https://localhost:8443"
}
