{
	"server": {
		"server.socket_host" : "0.0.0.0",
        "server.socket_port" : 8443,

        "server.ssl_module" : "pyopenssl",
        "server.ssl_certificate" : "testcerts/server.crt",
        "server.ssl_private_key" : "testcerts/server.key"
	},
	"isRegServer": true,
	"isLookupServer": true,
	"regdir": "regdir",
	"datadir": "datadir"
}
